/* Resets */
* {
  @apply font-normal;
  horizontal-alignment: 'left';
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

Label {
  @apply align-middle;
}

/**
*   1. set a default size for the ActivityIndicator to be similar on ios/android
*/
ActivityIndicator {
  @apply h-6 w-6; /* 1 */
}

Button {
  @apply rounded-none border-[1] border-transparent bg-transparent normal-case;
  min-width: 0;
  min-height: 0;
  elevation: 0;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.h-right {
  horizontal-align: right;
}
.h-left {
  horizontal-align: left;
}
.h-center {
  horizontal-align: center;
}